/node_modules
/dist
/.tmp
/.sass-cache
/bower_components
/test
*.sublime-project
*.sublime-workspace

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
