<md-toolbar>
    <div layout='row' layout-align='space-between center'>
        <div flex='40'>
        <md-button class='md-icon-button' aria-label='Open Side Menu' ng-click='openSidenav()'>
            <md-icon class='material-icons' ng-style="{color: 'white'}">keyboard_arrow_right</md-icon>
        </md-button>
        </div>
        <!-- <span flex></span> -->
        <div flex='20' layout='row' layout-align='center center'>
            <div layout-margin>
                <img alt="{{serverTitle}}" ng-src="{{serverLogo}}" class="md-avatar" ng-style="{'max-width':'48px', 'max-height':'48px'}" ng-hide='serverLogo == ""' />
            </div>
            <h1 class='md-headline'>{{serverTitle}}</h1>
        </div>
<!--         <md-button class='md-icon-button' aria-label='Toggle info windows' ng-click='toggleInfoWindows()'>
            <md-icon class='material-icons' ng-style="toogleInfoWindowsButtonStyle">forum</md-icon>
            <md-tooltip>{{ toogleInfoWindowsButtonTooltip }}</md-tooltip>
        </md-button>
 -->        
        <!-- <span flex></span> -->
        <div flex layout='row' layout-align='end center'>
            <div>
                <md-icon class='material-icons' ng-style="{color: 'white'}">search</md-icon>
            </div>
            <md-chips ng-model="keywords" placeholder='增加關鍵字' secondary-placeholder="搜尋">
            </md-chips>
        </div>
    </div>
</md-toolbar>
