<md-toolbar>
    <div layout='row' layout-align='space-between center'>
        <div flex='40'>
        <md-button class='md-icon-button' aria-label='Open Side Menu' ng-click='openSidenav()'>
            <md-icon class='material-icons' ng-style="{color: 'white'}">keyboard_arrow_right</md-icon>
        </md-button>
        </div>
        <!-- <span flex></span> -->
        <div flex='20' layout='row' layout-align='center center'>
            <div layout-margin>
                <img alt="{{serverTitle}}" ng-src="{{serverLogo}}" class="md-avatar" ng-style="{'max-width':'48px', 'max-height':'48px'}" ng-hide='serverLogo == ""' />
            </div>
            <h1 class='md-headline'>{{serverTitle}}</h1>
        </div>
        <div flex layout='row' layout-align='end center'>
             <div style='position:relative;width:48px;height:48px;'>
                <div style='position:absolute;top:0px;left:0px;'>
                    <md-fab-speed-dial md-direction="down" class="md-fling">
                        <md-fab-trigger>
                            <md-button class='md-fab md-mini'>
                                <md-icon class='material-icons' ng-style="{color: 'white'}">{{tools[selectedTool].fontIcon}}</md-icon>
                            </md-button>
                        </md-fab-trigger>
                        <md-fab-actions>
                            <md-button ng-repeat='(name, tool) in tools' class='md-fab md-mini' ng-click="selectTool(name)">
                                <md-icon class='material-icons' ng-style="{color: 'white'}">{{tool.fontIcon}}</md-icon>
                            </md-button>
                        </md-fab-actions>
                    </md-fab-speed-dial>
                </div>
            </div>
            <div flex layout-padding ng-show='selectedTool == "search"'>
                <md-chips ng-model="keywords">
                    <input placeholder='搜尋標題' style='font-size:20px;color:white;' />
                </md-chips>
            </div>
            <div flex layout-padding ng-show='selectedTool == "address"'>
                <md-input-container flex md-no-float>
                    <input placeholder='輸入地址' style='color:white;' ng-model='userAddress' ng-keypress="$event.keyCode == 13 && onEnterAddress(userAddress)"/>
                </md-input-container>
            </div>
         </div>
    </div>
</md-toolbar>
