<div flex=100 style='position:relative;height:0px;'>
    <md-icon class='material-icons' style='position:absolute;top:0px;right:0px;z-index:100;' ng-click='close()'>highlight_off</md-icon>
<!--     <md-button aria-label="Close" class="md-icon-button" ng-click='closeSidenav("sidenav-listposts")' style='position:absolute;top:-15px;right:-15px;z-index:100;'>
        <md-icon class='material-icons'>highlight_off</md-icon>
    </md-button>
 -->    <!-- <span style='position:absolute;top:-10px;right:-10px;z-index:100;'>&times;</span> -->
</div>
<md-sidenav class='md-sidenav-left md-whiteframe-z2' md-component-id='sidenav-listposts' md-is-locked-open='lockedOpen'>
    <!-- <md-button aria-label="Close" class="md-fab md-mini" ng-click='closeSidenav("sidenav-listposts")' style='top:0;right:0;'>
        <md-icon class='material-icons'>menu</md-icon>
    </md-button> -->
</md-sidenav>