<div flex=100 style='position:relative;height:0px;'>
    <a href="" style='position:absolute;top:0px;right:-10px;z-index:5;text-decoration:none;' ng-click='close()'>
    <md-icon class='material-icons'>highlight_off</md-icon>
    </a>
</div>
<md-sidenav class='md-sidenav-left md-whiteframe-z2' md-component-id='sidenav-listposts' md-is-locked-open='lockedOpen' style='height:100%;'>
    <md-content layout-padding style='height:100%;padding:10px;'>
        <md-list>
            <md-list-item ng-repeat="post in posts">
                <div>
                    {{post.title}}
                </div>
            </md-list-item>
        </md-list>
    </md-content>
</md-sidenav>