<div class='container' ng-include='"views/sidenav.html"' ng-controller='SideNavController'>
</div>

<div class='container' ng-include='"views/headbar.html"' ng-controller="HeadBarController">
</div>

<div layout='row' style='height:90vh;'>
    <div class='container' ng-include='"views/post-list.html"' ng-controller='PostListController'  style='height:100%;'></div>
    <div flex class='container' ng-include='"views/map.html"' ng-controller="MapController" style='height:100%;'> 
    </div>
</div>
