<div class='container' ng-include='"views/sidenav.html"' ng-controller='SideNavController'>
</div>

<div class='container' ng-include='"views/headbar.html"' ng-controller="HeadBarController">
</div>

<div layout='row' style='height:500px;'>
    <div class='container' ng-include='"views/listposts.html"' ng-controller='ListPostsController'  style='height:100%;'></div>
    <div flex class='container' ng-include='"views/map.html"' ng-controller="MapController" style='height:100%;'> 
    </div>
</div>
