<md-content>
<style type="text/css">
.angular-google-map-container { height: 500px; }
</style>
    <div layout='column' layout-align="center center" style='height:100%;' ng-show='!mapIsReady'>
        <p style="font-size:200%">地圖讀取中...</p>
        <md-progress-circular md-mode="indeterminate" class='md-accent'></md-progress-circular>
    </div>
    <ui-gmap-google-map center='map.center' zoom='map.zoom' events='mapEvents' ng-show="mapIsReady" >
        <!-- New post marker, show up when clicked on map -->
        <ui-gmap-marker coords="clickedMarker.coords" options="clickedMarker.options" events="clickedMarker.events" idkey="clickedMarker.id" ng-cloak>
        </ui-gmap-marker>

        <!-- Post markers, load from server -->
        <ui-gmap-markers models='posts' coords='"self"' icon='"icon"' events='"events"' doCluster='true'>
            <ui-gmap-windows ng-cloak>
                <div ng-non-bindable>
                    <p>{{ title | words: 5 | characters: 32 }}</p>
                </div>
            </ui-gmap-windows>
        </ui-gmap-markers>

        <!-- Filter circle -->
        <ui-gmap-circle center='filterCircle.center' radius='filterCircle.radius' stroke='filterCircle.stroke' fill='filterCircle.fill' clickable='filterCircle.clickable' editable='filterCircle.editable' visible='filterCircle.visible' events='filterCircleEvents'>
        </ui-gmap-circle>

    </ui-gmap-google-map>
</md-content>
