<md-content>
<style type="text/css">
.angular-google-map-container { height: 500px; }
</style>
    <div layout='column' layout-align="center center" style='height:100%;' ng-show='!mapIsReady'>
        <p style="font-size:200%">地圖讀取中...</p>
        <md-progress-circular md-mode="indeterminate" class='md-accent'></md-progress-circular>
    </div>
    <ui-gmap-google-map center='map.center' zoom='map.zoom' events='map.events' ng-show="mapIsReady" >
        <ui-gmap-marker coords="clickedMarker.coords" options="clickedMarker.options" events="clickedMarker.events" idkey="clickedMarker.id" ng-cloak>
        </ui-gmap-marker>
        <ui-gmap-markers models='posts' coords='"self"' icon='"icon"' events='"events"' doCluster='true'>
            <ui-gmap-windows ng-cloak>
                <div ng-non-bindable>
                    <p>{{ title | words: 5 | characters: 32 }}</p>
                </div>
            </ui-gmap-windows>
        </ui-gmap-markers>
    </ui-gmap-google-map>
</md-content>
