<md-content>
<style type="text/css">
.angular-google-map-container { height: 80vh; }
</style>
    <div layout='column' layout-align="center center" style='height:100%;' ng-show='!mapIsReady'>
        <p style="font-size:200%">地圖讀取中...</p>
        <md-progress-circular md-mode="indeterminate" class='md-accent'></md-progress-circular>
    </div>
    <ui-gmap-google-map center='map.center' pan='true' zoom='map.zoom' bounds='map.bounds' events='mapEvents' control='mapControl' ng-show="mapIsReady">
        <!-- New post marker, show up when clicked on map -->
        <ui-gmap-marker idkey="clickedMarker.id" coords="clickedMarker.coords" options="clickedMarker.options" events="clickedMarker.events" control='clickedMarker.control'>
        </ui-gmap-marker>

        <!-- Post markers, load from server -->
        <ui-gmap-markers models='posts' coords='"self"' icon='"iconObject"' options='"options"' events='postMarkerEvents' doCluster='true'>
        </ui-gmap-markers>

        <!-- pop up info window when bouse cursor over markers -->
        <ui-gmap-window coords='infoWindow.coords' show='infoWindow.show' closeClick='infoWindow.closeClick()' options='infoWindow.options' templateUrl='infoWindow.templateUrl' templateParameter='infoWindow.templateParameter'>
        </ui-gmap-window>    

        <!-- Filter circle -->
<!--         <ui-gmap-circle center='filterCircle.center' radius='filterCircle.radius' stroke='filterCircle.stroke' fill='filterCircle.fill' clickable='filterCircle.clickable' editable='filterCircle.editable' visible='filterCircle.visible' events='filterCircleEvents'>
        </ui-gmap-circle>
 -->
        <!-- Debug: bounds rectangles -->
<!--         <ui-gmap-rectangle bounds="rectangleBounds" fill="'#FFFFFF .5'"></ui-gmap-rectangle>
        </ui-gmap-google-map>
 -->
    </ui-gmap-google-map>
</md-content>
