<md-dialog aria-label="View Post" flex='60'>
    <md-toolbar>
        <div class="md-toolbar-tools md-toolbar-tools-bottom" ng-show='postLoaded'>
            <div flex='50'>
                <div>
                <a data-fittext data-fittext-max='36' data-fittext-min='18'>{{ post.title | words: 20 | characters: 50 }}</a>
                </div>
            </div>
            <div flex layout='column' layout-align='center end'>
                <div layout='row' layout-align='end center' style='min-height:20px;max-height:32px;'>
                    <div data-fittext data-fittext-max='24' data-fittext-min='14'>{{ post.author }}</div>
                    <md-button class='md-icon-button' style='width:24px;min-height:24px;height:24px;line-height:24px;' ng-show='isMyPost' ng-click="editPost()">
                        <md-icon class='material-icons' style='color:white;font-size:20px;'>edit</md-icon>
                    </md-button>
                    <md-button class='md-icon-button' style='width:24px;min-height:24px;height:24px;line-height:24px;' ng-show='isMyPost' ng-click="deletePost()">
                        <md-icon class='material-icons' style='color:white;font-size:20px;'>delete</md-icon>
                    </md-button>
                </div>
                <div layout='row' style='min-height:20px;max-height:32px;'>
                    <span flex></span>
                    <div>{{ formatDatetime(post.create_time) }} 發佈</div>
                </div>
            </div>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div layout='column' layout-align="center center" style='height:100%;' ng-show='!postLoaded'>
            <p style="font-size:200%">讀取中...</p>
            <md-progress-circular md-mode="indeterminate" class='md-accent'></md-progress-circular>
        </div>
        <md-content layout='column' layout-margin layout-padding ng-show='postLoaded'>
            <div layout='row' ng-show='canFollowPost' layout-align='end center'>
                <md-checkbox ng-model='followPost' ng-click="toggleFollowPost()">追蹤本篇</md-checkbox>
            </div>
            <!-- Post context -->
            <md-content layout-padding style='min-height:100px;' ng-bind-html='post.context'>
            </md-content>
            
            <md-divider></md-divider>

            <!-- List user comments -->
            <md-list>
                <md-list-item class='md-3-line md-whiteframe-z2' ng-repeat='comment in comments | orderBy:"create_time"'>
                    <div class='md-list-item-text' layout-margin layout-padding>
                        <h3>{{ comment.author }}</h3>
                        <h5>{{ formatDatetime(comment.create_time) }}</h5>
                        <md-content layout-padding style='min-height:50px;' ng-bind-html='comment.context'>
                        </md-content>
                    </div>
                </md-list-item>
            </md-list>
            <br>

            <!-- New comment inputs -->
            <div layout='row' ng-show='isSupportComment'>
                <div flex='10' layout-padding>
                    <img src="images/icon-comment-48.png" />
                </div>
                <div flex layout='column'>
                    <div class='md-whiteframe-z3' layout-padding>
                        <textarea froala='froalaOptions' ng-model="newComment.context"></textarea>
                    </div>
                    <div layout='row' layout-align='space-around center'>
                        <md-input-container flex>
                            <label>作者</label>
                            <input ng-model="newComment.author">
                        </md-input-container>
                        <div>
                            <md-button ng-click='addComment(newComment)' ng-disabled='!newComment.context'>發表</md-button>
                        </div>
                    </div>
                </div>
            </div>

        </md-content>
    </md-dialog-content>
</md-dialog>