<md-dialog aria-label="View Post" flex='60'>
    <md-toolbar>
        <div class="md-toolbar-tools md-toolbar-tools-bottom">
            <div flex='50'>
                <div>
                <a data-fittext data-fittext-max='36' data-fittext-min='18'>{{ post.title | words: 20 | characters: 50 }}</a>
                </div>
            </div>
            <div flex layout='column' layout-align='center end'>
                <div layout='row' layout-align='end center' style='min-height:20px;max-height:32px;'>
                    <div data-fittext data-fittext-max='24' data-fittext-min='14'>{{ post.author }}</div>
                    <md-button class='md-icon-button' style='width:24px;min-height:24px;height:24px;line-height:24px;' ng-show='isMyPost' ng-click="editPost()">
                        <md-icon class='material-icons' style='color:white;font-size:20px;'>edit</md-icon>
                    </md-button>
                    <md-button class='md-icon-button' style='width:24px;min-height:24px;height:24px;line-height:24px;' ng-show='isMyPost' ng-click="deletePost()">
                        <md-icon class='material-icons' style='color:white;font-size:20px;'>delete</md-icon>
                    </md-button>
                </div>
                <div layout='row' style='min-height:20px;max-height:32px;'>
                    <span flex></span>
                    <div>{{ formatDatetime(post.create_time) }} 發佈</div>
                </div>
            </div>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <md-content layout='column' layout-margin layout-padding>
            <!-- Post context -->
            <md-content layout-padding style='min-height:100px;' ng-bind-html='post.context'>
            </md-content>
            <div layout='row' layout-align='space-between start'>
                <div flex layout='column'>
                    <div ng-if='statisticResource'>
                    <div ng-repeat="statistic in post.statistics" layout='row'>
                        <md-button type='button' class='md-accent md-raised' ng-click="statisticPlusOne(statistic)" ng-disabled="::statistic.disabled">{{statistic.expression}}</md-button>
                        <span>有 {{statistic.count}} 個人說：</span><div class='md-headline'>{{statistic.expression}}</div>
                    </div>
                    </div>
                </div>
                <div flex='20' ng-show='canFollowPost'>
                    <md-checkbox ng-model='followPost' ng-click="toggleFollowPost()">追蹤本篇</md-checkbox>
                </div>
            </div>
            <br>
            <md-divider></md-divider>
            <br>
            <div flex ng-show='isLoadingComments' layout='row' layout-align='center center'>
                <div style='font-size:200%'>讀取留言...</div>
                <md-progress-circular class='md-accent' md-mode='indeterminate'></md-progress-circular>
            </div>
            <!-- List user comments -->
            <md-list>
                <md-list-item class='md-3-line md-whiteframe-z2' ng-repeat='comment in comments | orderBy:"create_time"'>
                    <div class='md-list-item-text' layout-margin layout-padding>
                        <h3>{{ comment.author }}</h3>
                        <h5>{{ formatDatetime(comment.create_time) }}</h5>
                        <md-content layout-padding style='min-height:50px;' ng-bind-html='comment.context'>
                        </md-content>
                    </div>
                </md-list-item>
            </md-list>
            <br>

            <!-- New comment inputs -->
            <form name='commentForm' ng-show='isSupportComment'>
                    <div layout='row'>
                        <div flex='10' layout-padding>
                            <img src="images/icon-comment-48.png" />
                        </div>
                        <div flex layout='column'>
                            <md-input-container>
                            <div class='md-whiteframe-z3' layout-padding>
                                <textarea required name='context' aria-label='comment' froala='froalaOptions' ng-model="newComment.context"></textarea>
                            </div>
                            <div ng-messages='commentForm.context.$error'>
                                <div ng-message='required'>留言必須有內容</div>
                            </div>
                            </md-input-container>

                            <div layout='row' layout-align='space-around center'>
                                <md-input-container flex>
                                    <label>作者</label>
                                    <input name='author' required ng-model="newComment.author">
                                    <ng-messages for='commentForm.author.$error'>
                                        <ng-message when='required'>留言必須有作者</ng-message>
                                    </ng-messages>
                                </md-input-container>
                                <div>
                                    <md-button type='button' ng-click='addComment(newComment)' ng-disabled='!newComment.context || !newComment.author'>發表</md-button>
                                </div>
                            </div>
                        </div>
                    </div>
            </form>

        </md-content>
    </md-dialog-content>
</md-dialog>