<md-dialog id='post-editor-dialog' aria-label="Tell your story" flex='60'>
<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>編輯文章</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon class='material-icons'>clear</md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-dialog-content>
    <div layout='row' layout-wrap>
        <md-button type='button' class='md-icon-button' ng-repeat='(name, icon) in iconCtrls' aria-label="Marker Icon" ng-click="selectMarkerIcon(name)">
            <img ng-src='{{icon.url}}' width='100%' height='100%' ng-class='{"s99-transparent": name != newPost.icon}' />
            <md-tooltip class='md-title'>{{name}}</md-tooltip>
        </md-button>
    </div>
    <form name='postForm'>
        <md-input-container>
            <label>標題</label>
            <!-- TODO: limit character length to 50  -->
            <input md-maxlength='50' required name='title' ng-model="newPost.title">
            <div ng-messages='postForm.title.$error'>
                <div ng-message='required'>請填入標題</div>
                <div ng-message='md-maxlength'>請勿超過50字</div>
            </div>
        </md-input-container>
        <br>
        <md-content layout="column" class='md-whiteframe-z3' ng-if='froalaOptions'>
            <!-- <div layout='row'> -->
            <md-toolbar class='md-accent md-hue-1'>
                <div class="md-toolbar-tools md-toolbar-tools-bottom">
                    <md-button type='button' aria-label="Show Tools" class="md-fab md-raised md-mini" ng-click='triggerToolbar()'>
                        <md-icon class='material-icons'>menu</md-icon>
                        <md-tooltip class='md-body-2'>工具列</md-tooltip>
                    </md-button>
                    <md-button type='button' aria-label="Insert Image" class="md-fab md-raised md-mini" ng-click='insertImage()'>
                        <md-icon class='material-icons'>image</md-icon>
                        <md-tooltip class='md-body-2'>上傳圖片</md-tooltip>
                    </md-button>
                    <span flex></span>
                </div>
            </md-toolbar>
            <!-- </div> -->
            <md-input-container>
                <textarea aria-label='context-textarea' required name='context' froala='froalaOptions' ng-model="newPost.context"></textarea>
                <div ng-messages='postForm.context.$error'>
                    <div ng-message='required'>請填入內容</div>
                </div>
            </md-input-container>
        </md-content>
        <br>
        <md-input-container>
            <!-- TODO: limit character length to 30 -->
            <label>作者或聯絡方式</label>
            <input required md-maxlength='30' name='author' ng-model="newPost.author">
            <div ng-messages='postForm.author.$error'>
                <div ng-message='required'>請填入作者或聯絡方式</div>
                <div ng-message='md-maxlength'>請勿超過30字</div>
            </div>
        </md-input-container>
        <div ng-if='voteResource !== false'>
            <div ng-repeat="(id, vote) in newPost.votes" ng-show='vote.tobeDeleted !== true' layout='row'>
                <md-button type='button' class='md-icon-button' ng-click='removeVote(id, $event)'>
                    <md-icon class='material-icons'>clear</md-icon>
                </md-button>
                <md-button type='button' class='md-accent md-raised'>{{vote.expression}}</md-button>
                <span>有 {{vote.count}} 個人說：</span><div class='md-headline'>{{vote.expression}}</div>
            </div>
            <div ng-repeat="(key, vote) in newPost.newVotes" layout='row'>
                <md-button type='button' class='md-icon-button' ng-click='removeNewVote(key)'>
                    <md-icon class='material-icons'>clear</md-icon>
                </md-button>
                <md-button type='button' class='md-accent md-raised'>{{vote.expression}}</md-button>
                <span>有 {{vote.count}} 個人說：</span><div class='md-headline'>{{vote.expression}}</div>
            </div>
            <div layout='row'>
                <input name='newVote' ng-model='newVote.expression'>
                <md-button type='button' class='md-raised' ng-click='addNewVote(newVote.expression)'>增加投票按鈕</md-button>
            </div>
        </div>
    </form>   
</md-dialog-content>
<div class="md-actions" layout="row">
<md-button ng-click="cancel()" class="md-raised md-primary">
    我按錯了
</md-button>
<span flex></span>
<md-button ng-click="post()" class="md-raised md-primary" ng-disabled="postForm.title.$invalid || postForm.author.$invalid || postForm.context.$invalid">
    完成
</md-button>
</div>
</md-dialog>
