<md-dialog aria-label="Tell your story" flex='60'>
<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>分享在地的故事</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon class='material-icons'>clear</md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-dialog-content>
    <md-input-container flex>
        <label>標題</label>
        <input ng-model="newPost.title">
    </md-input-container>
    <md-input-container flex>
        <label>作者</label>
        <input ng-model="newPost.author">
    </md-input-container>    
    <md-content layout="column" class='md-whiteframe-z3'>
        <!-- <div layout='row'> -->
        <md-toolbar class='md-accent md-hue-1'>
            <div class="md-toolbar-tools md-toolbar-tools-bottom">
                <md-button aria-label="Show Tools" class="md-fab md-raised md-mini" ng-click='triggerToolbar()'>
                    <md-icon class='material-icons'>menu</md-icon>
                    <md-tooltip>工具列</md-tooltip>
                </md-button>
                <md-button aria-label="Insert Image" class="md-fab md-raised md-mini" ng-click='insertImage()'>
                    <md-icon class='material-icons'>image</md-icon>
                    <md-tooltip>上傳圖片</md-tooltip>
                </md-button>
                <span flex></span>
                <md-fab-speed-dial md-direction="left" class="md-fling">
                    <md-fab-trigger ng-show='iconSet.length > 0'>
                        <md-button aria-label="menu" class="md-fab md-raised md-mini">
                            <img ng-src='{{newPost.icon}}' width='100%' height='100%'/>
                            <md-tooltip>選擇地圖標示</md-tooltip>
                        </md-button>
                    </md-fab-trigger>
                    <md-fab-actions>
                        <md-button ng-repeat='iconUrl in iconSet' aria-label="Marker Icon" class="md-fab md-raised md-mini" ng-click="selectMarkerIcon(iconUrl)">
                            <img ng-src='{{iconUrl}}' width='100%' height='100%'/>
                        </md-button>
                    </md-fab-actions>
                </md-fab-speed-dial>
            </div>
        </md-toolbar>
        <!-- </div> -->
        <textarea froala='froalaOptions' ng-model="newPost.context"></textarea>
    </md-content>
</md-dialog-content>
<div class="md-actions" layout="row">
<md-button ng-click="cancel()" class="md-raised md-primary">
    我按錯了
</md-button>
<span flex></span>
<md-button ng-click="post()" class="md-raised md-primary">
    好了，大家來看吧！
</md-button>
</div>
</md-dialog>
