<md-sidenav class='md-sidenav-left md-whiteframe-z2' md-component-id='sidenav-left'>
    <md-toolbar>
        <div class='md-toolbar-tools'>
            <md-button class='md-icon-button' aria-label='Server List' ng-click='switchPane("server-list")'>
                <md-tooltip class='md-body-2'>電台</md-tooltip>
                <md-icon class='material-icons' ng-style='selectedPane == "server-list" && {color: "white"} || {color: "lightgrey"}'>radio</md-icon>
            </md-button>
            <md-button class='md-icon-button' aria-label='User Settings' ng-click='switchPane("settings")'>
                <md-tooltip class='md-body-2'>設定</md-tooltip>
                <md-icon class='material-icons' ng-style='selectedPane == "settings" && {color: "white"} || {color: "lightgrey"}'>settings</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content>
        <div ng-show='selectedPane == "server-list"' ng-include='"views/server-list.html"' ng-controller="ServerListController">
        </div>
        <div ng-show='selectedPane == "settings"' ng-include='"views/user-settings.html"' ng-controller='UserSettingsController'>
        </div>
    </md-content>
</md-sidenav>
