<md-dialog aria-label="Tell your story">
<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>分享這裏的故事</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon class='material-icons'>clear</md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-dialog-content>
    <md-input-container flex>
        <label>標題</label>
        <input ng-model="title">
    </md-input-container>
    <textarea froala='froalaOptions' ng-model="context"></textarea>
    <md-input-container flex>
        <label>作者</label>
        <input ng-model="author">
    </md-input-container>    
</md-dialog-content>
<div class="md-actions" layout="row">
<md-button ng-click="triggerToolbar()" class="md-raised md-primary">
    工具列
</md-button>
<span flex></span>
<md-button ng-click="cancel()" class="md-raised md-primary">
    我按錯了
</md-button>
<md-button ng-click="post()" class="md-raised md-primary">
    好了，大家來看吧！
</md-button>
</div>
</md-dialog>
