<div>
    <div layout-padding>
        <h4>開啟網站時，顯示的地區範圍：</h4>
        <md-radio-group ng-model='settings.startUpAtMap'>
            <md-radio-button value='geolocation'>自動定位我的位置</md-radio-button>
            <md-radio-button value='lastTime'>上ㄧ次瀏覽的地區</md-radio-button>
            <div layout='row'>
                <md-radio-button value='useMapHome'>使用地區首頁</md-radio-button>
                <md-button class='md-raised' ng-click='setMapHome()'>設定首頁</md-button>
            </div>
        </md-radio-group>
    </div>
    <md-divider></md-divider>
    <md-checkbox ng-model='settings.autoOpenPostList'>滑鼠指標停住地圖標示上方3秒後，自動開啟文章列表</md-checkbox>
    <md-divider></md-divider>
    <md-checkbox ng-model='settings.soundFX'>開啟網站音效</md-checkbox>
    <md-divider></md-divider>
    <md-checkbox ng-model='settings.showToastTips'>在左下角顯示使用小撇步</md-checkbox>
    <md-divider></md-divider>
    <md-button class='md-raised' ng-click='unfollowAllPosts()'>停止追蹤所有文章</md-button>
    <md-divider></md-divider>
    <md-button class='md-raised' ng-click='reportIssue()'>回報問題給開發團隊</md-button>
</div>